.flake8
Makefile
poetry.lock
pyproject.toml

.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3

venv
.env


prod_settings.py
local_settings.py


__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media

log/debug.log
static

build
doc
home.rst
make.bat

doc-dev
db.sqlite3
Footer